.row{
    padding: 20px;
}
div{
    text-align: center;
    background-color: #ffffff;
}
#nombre{
    font-weight: bold;
    margin-top: 10%;
}
#fotoDePerfil{  
    border-radius: 8%;
}

/*estilo de la foto de perfil*/
@media(min-width: 576px){
    #fotoDePerfil{
        position: absolute;
        width: 15%;
        left: 3%;
        top: 600px;
    }

}