<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primer Trabajo</h1>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur odio, dolorum, earum repellendus porro quis nobis aliquid libero officiis doloribus quia deleniti nam illum voluptatem dicta magni, est soluta quidem!</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Segundo Trabajo</h1>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur odio, dolorum, earum repellendus porro quis nobis aliquid libero officiis doloribus quia deleniti nam illum voluptatem dicta magni, est soluta quidem!</p>
            </li>
        </ul>

</div>