<div class="row">
    <h1>Hard and soft skills</h1>
    <div  class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="95"
        [radius]="80"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'#787672'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#cfd2b3'"
        [innerStrokeColor]="'#b9a776'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div  class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'#787672'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#cfd2b3'"
        [innerStrokeColor]="'#b9a776'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div  class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [showUnits]="false"
        [title]="'JS'"
        [titleColor]="'#787672'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#cfd2b3'"
        [innerStrokeColor]="'#b9a776'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div  class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [showUnits]="false"
        [title]="'GitHub'"
        [titleColor]="'#787672'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#cfd2b3'"
        [innerStrokeColor]="'#b9a776'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div  class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [showUnits]="false"
        [title]="'Ingles'"
        [titleColor]="'#787672'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#cfd2b3'"
        [innerStrokeColor]="'#b9a776'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div  class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [showUnits]="false"
        [title]="'Team Work'"
        [titleColor]="'#787672'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#cfd2b3'"
        [innerStrokeColor]="'#b9a776'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>

</div>