.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{
    width: 130px;
}
img{
    width: 30px;
    padding: 3px;
}
.ingresar{
    margin-left: 1.5em;
    margin-top: 0.2em;
}